/* Subscribe Button */

.subscribe-button {
  background-color: var(--success);
}

/* Subscribed */

.subscribe-button--subscribed {
  background-color: var(--gray-500);
  color: var(--gray-800);
}

.subscribe-button--subscribed:hover {
  background-color: var(--cta);
  color: var(--white);
}
