/* Field */

.search-form__field {
  position: relative;
}

/* Input */

.search-form__input {
  width: 100%;
  margin: 0;
  padding: 8px 22px;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: 15px;
  line-height: 24px;
  color: var(--black);
}

/* Placeholder */

.search-form__input::placeholder {
  color: #8c8c8c;
}

/* Focus */

.search-form__input:focus {
  outline: none;
}

/* Icon */

.search-form__icon {
  stroke-width: 2px;
  fill: none;
}

/* Icon Search */

.search-form__icon-search {
  position: absolute;
  top: 12px;
  left: 0;
  z-index: -1;
  stroke: #8c8c8c;
}

.search-form__input:focus + .search-form__icon-search {
  stroke: var(--black);
}

/* Clear */

.search-form__clear {
  position: absolute;
  top: 0;
  right: -11px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

/* Icon Close */

.search-form__icon-close {
  display: block;
  stroke: var(--black);
}

.search-form__clear:hover .search-form__icon-close {
  stroke: #8c8c8c;
}

/* Animation Rotate */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Icon Spinner */

.search-form__icon-spinner {
  position: absolute;
  top: 12px;
  left: 0;
  stroke: #3a40dd;
  stroke-width: 4px;
  animation: rotate 2s linear infinite;
}
