/* Episode Card */

.episode-card {
  display: grid;
  grid-template-columns: min-content 1fr 120px 60px min-content;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 24px;
  width: 100%;
}

/* Image */

.episode-card__image {
  display: block;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Index */

.episode-card__index {
  white-space: nowrap;
}

/* Title */

.episode-card__title {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: var(--black);
}

.episode-card__title--regular {
  font-weight: 400;
}

/* Link */

.episode-card__link {
  text-decoration: none;
  color: inherit;
}

.episode-card__link:hover {
  color: var(--primary);
}

/* Author */

.episode-card__author {
  margin: 0;
  margin-top: -3px;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-800);
}

/* Published */

.episode-card__published {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: var(--gray-800);
}

/* Duration */

.episode-card__duration {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  color: var(--gray-800);
}
