/* Episode Card */

.episode-card {
  display: grid;
  grid-template-columns: min-content 1fr 120px 60px min-content;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 24px;
  width: 100%;
}

/* Image */

.episode-card__image {
  display: block;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Title */

.episode-card__title {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: var(--black);
}

/* Author */

.episode-card__author {
  margin: 0;
  margin-top: -3px;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-800);
}

/* Link */

.episode-card__link {
  text-decoration: none;
  color: inherit;
}

/* Duration */

.episode-card__duration {
  text-align: right;
}
