/* List */

.search-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Item */

.search-list__item:not(:first-child) {
  margin-top: -1px;
}

/* Link */

.search-list__link {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 16px;
  padding: 16px;
  text-decoration: none;
}

.search-list__link:hover {
  background-color: var(--gray-400);
}

.search-list__item:not(:last-child) .search-list__link::after {
  content: '';
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 0;
  border-bottom: 1px solid var(--gray-400);
}

/* Cover */

.search-list__cover {
  width: 40px;
  height: 40px;
}

/* Title */

.search-list__title {
  margin: 0;
  margin-top: -3px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: var(--black);
}

/* Author */

.search-list__author {
  margin: 0;
  margin-top: -3px;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-800);
}
