/* Episode Head */

.episode-head {
  display: grid;
  grid-template-columns: 210px 1fr;
  column-gap: 32px;
  padding-bottom: 32px;
}

/* Image */

.episode-head__image {
  display: block;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Author */

.episode-head__author {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 16px;
  text-decoration: none;
  color: var(--primary);
}

/* Title */

.episode-head__title {
  margin-bottom: 16px;
}

/* Published */

.episode-head__published {
  margin: 0;
  color: var(--gray-800);
}
