/* Search */

.search {
  position: relative;
  width: 360px;
}

/* Popup */

.search__popup {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  max-height: 300px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
