/* Search */

.search {
  position: relative;
  width: 360px;
}

/* Field */

.search__field {
  position: relative;
}

/* Input */

.search__input {
  width: 100%;
  margin: 0;
  padding: 8px 22px;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: 15px;
  line-height: 24px;
  color: var(--black);
}

/* Placeholder */

.search__input::placeholder {
  color: #8c8c8c;
}

/* Focus */

.search__input:focus {
  outline: none;
}

/* Icon Search */

.search__icon-search {
  position: absolute;
  top: 12px;
  left: 0;
  z-index: -1;
  stroke: #8c8c8c;
  stroke-width: 2px;
  fill: none;
}

.search__input:focus + .search__icon-search {
  stroke: var(--black);
}

/* Menu */

.search__menu {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  max-height: 300px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Icon Spinner */

.search__icon-spinner {
  position: absolute;
  top: 12px;
  left: 0;
  stroke: #3a40dd;
  stroke-width: 4px;
  fill: none;
  animation: rotate 2s linear infinite;
}

/* List */

.search__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Item */

.search__item:not(:first-child) {
  margin-top: -1px;
}

/* Link */

.search__link {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 16px;
  padding: 16px;
  text-decoration: none;
}

.search__link:hover {
  background-color: #f3f3f3;
}

.search__item:not(:last-child) .search__link::after {
  content: '';
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 0;
  border-bottom: 1px solid #f3f3f3;
}

/* Cover */

.search__cover {
  width: 40px;
  height: 40px;
}

/* Title */

.search__title {
  margin: 0;
  margin-top: -3px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: var(--black);
}

/* Author */

.search__author {
  margin: 0;
  margin-top: -3px;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}

/* Error */

.search__error {
  padding: 32px;
  text-align: center;
}

/* Error Title */

.search__error-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.02em;
}

/* Error text */

.search__error-text {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
}
