/* Podcast Head */

.podcast-head {
  display: grid;
  grid-template-columns: 210px 1fr;
  column-gap: 32px;
  padding-bottom: 32px;
}

/* Image */

.podcast-head__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Title */

.podcast-head__title {
  margin-bottom: 16px;
}

/* Author */

.podcast-head__author {
  margin: 0;
  margin-bottom: 16px;
  color: var(--gray-800);
}

/* Link */

.podcast-head__link {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 16px;
  color: var(--primary);
  text-decoration: none;
}

/* Description */

.podcast-head__description {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
}
